nav{
	background-color: whitesmoke !important;
	& .logo{
		color: darkslategray;
		@include margin_nav;
		&	.fa-pinterest {
			font-size: 30px;
			color: #bd081c;
			@include margin_nav;
		}
	}
	& .search{
		width: 50%;
		height: 2.5rem;
		border-radius: 7px;
		border: none;
	}
	& .options{
		height: 2.5rem;
		width: 12%;
		@include esp_icon;
	}
	& .fa-user-circle-o {
		font-size: 23px;
		@include esp_icon;
	}
	& .usuario{
		@include esp_icon;
	}
	& .fa-bars{
		font-size: 23px;
		@include esp_icon;
	}
	& .notification{
		display: inline-block;
		float: right;
		margin-left: 9px;
    	margin-right: 11px;
	}	
}
.navdos{
	margin-left: 50px;
	margin-right: 50px;
	& .container-fluid{
		& .row{
			& .secciones{
				height: 50px;
				margin-top: 8px;
				& .casillauno{
					@include casilla;
					background: linear-gradient(to right, #e1eec3, #f05053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
					& .clasification{
						@include pclasification;
					}
				}
				& .casillados{
					@include casilla;
					background: linear-gradient(to right, #74ebd5, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
					& .clasification{
						@include pclasification;
					}
				}
				& .casillatres{
					@include casilla;
					background: linear-gradient(to right, #22c1c3, #fdbb2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
					& .clasification{
						@include pclasification;
					}
				}
				& .casillacuatro{
					@include casilla;
					background: linear-gradient(to right, #30e8bf, #ff8235); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
					& .clasification{
						@include pclasification;
					}
				}
				
			}
		}
	}
}
.todasfotos{
	@extend .secciones;
	& .container-fluid{
		& .row{
			& .totalfotos{
				& .singles{
					display: inline-block;
					margin-left:20px;
					margin-top: 20px;
					font-size: 15px;
					width:23%;
					height: auto;
					& .img_pinterest{
						border-radius:14px;
						width: 90%;
					}
					& .title {
						font-size: 17px;
						font-weight: 700;
						margin-top: 9px;
						margin-bottom: 5px;
						}
					& .user {
						color: gray;
						display: inline-block;
					}
					&i.fa.fa-user-circle {
						color: lightpink;
					}
					& .hashtag{
						float: right;
						display: inline-block;	
					}	
				}
				& .modal{
					max-height: 95%;
					width: 30%;
					top: 2% !important;
					& .modal-content{
						& .nav-modal{
							& .nav-element{
								display: inline-block;
								margin-right: 160px;
								margin-bottom: 20px;
								& .icon-modal{
									display: inherit;
									font-size: 20px;
									margin-right: 8px;
									color: darkgray;
								}
							}
							& .btn-guardar{
								background-color: #bd081c;
								color: #fff;
								padding: 7px;
								border-radius: 5px;
							}
						}

						& .titulo_modal{
							font-size: 18px;
							font-weight: 600;
							text-align: center;
						}
						& .img_modal{
							width: 100%;
							border-radius: 14px; 
						}
					}
				}
			}
		}
	}
}
