$colorpinterest: #bd081c;
$color_fondo: whitesmoke;
$color_iconos: darkslategray;
$color_interno: darkgray;
$degradado_uno: linear-gradient(to right, #e1eec3, #f05053);
$degradado_dos: linear-gradient(to right, #74ebd5, #acb6e5);
$degradado_tres: linear-gradient(to right, #22c1c3, #fdbb2d);
$degradado_cuatro: linear-gradient(to right, #30e8bf, #ff8235);