@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
nav {
  background-color: whitesmoke !important; }
  nav .logo {
    color: darkslategray;
    margin-left: 9px;
    margin-right: 18px; }
    nav .logo .fa-pinterest {
      font-size: 30px;
      color: #bd081c;
      margin-left: 9px;
      margin-right: 18px; }
  nav .search {
    width: 50%;
    height: 2.5rem;
    border-radius: 7px;
    border: none; }
  nav .options {
    height: 2.5rem;
    width: 12%;
    color: darkslategray;
    display: inline-block;
    margin-left: 9px;
    margin-right: 18px; }
  nav .fa-user-circle-o {
    font-size: 23px;
    color: darkslategray;
    display: inline-block;
    margin-left: 9px;
    margin-right: 18px; }
  nav .usuario {
    color: darkslategray;
    display: inline-block;
    margin-left: 9px;
    margin-right: 18px; }
  nav .fa-bars {
    font-size: 23px;
    color: darkslategray;
    display: inline-block;
    margin-left: 9px;
    margin-right: 18px; }
  nav .notification {
    display: inline-block;
    float: right;
    margin-left: 9px;
    margin-right: 11px; }

.navdos {
  margin-left: 50px;
  margin-right: 50px; }
  .navdos .container-fluid .row .secciones, .navdos .container-fluid .row .todasfotos {
    height: 50px;
    margin-top: 8px; }
    .navdos .container-fluid .row .secciones .casillauno, .navdos .container-fluid .row .todasfotos .casillauno {
      height: 50px;
      border-radius: 9px;
      margin-right: 4px;
      color: white;
      background: linear-gradient(to right, #e1eec3, #f05053);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
      .navdos .container-fluid .row .secciones .casillauno .clasification, .navdos .container-fluid .row .todasfotos .casillauno .clasification {
        margin-top: 11px;
        color: white;
        text-align: center; }
    .navdos .container-fluid .row .secciones .casillados, .navdos .container-fluid .row .todasfotos .casillados {
      height: 50px;
      border-radius: 9px;
      margin-right: 4px;
      color: white;
      background: linear-gradient(to right, #74ebd5, #acb6e5);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
      .navdos .container-fluid .row .secciones .casillados .clasification, .navdos .container-fluid .row .todasfotos .casillados .clasification {
        margin-top: 11px;
        color: white;
        text-align: center; }
    .navdos .container-fluid .row .secciones .casillatres, .navdos .container-fluid .row .todasfotos .casillatres {
      height: 50px;
      border-radius: 9px;
      margin-right: 4px;
      color: white;
      background: linear-gradient(to right, #22c1c3, #fdbb2d);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
      .navdos .container-fluid .row .secciones .casillatres .clasification, .navdos .container-fluid .row .todasfotos .casillatres .clasification {
        margin-top: 11px;
        color: white;
        text-align: center; }
    .navdos .container-fluid .row .secciones .casillacuatro, .navdos .container-fluid .row .todasfotos .casillacuatro {
      height: 50px;
      border-radius: 9px;
      margin-right: 4px;
      color: white;
      background: linear-gradient(to right, #30e8bf, #ff8235);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
      .navdos .container-fluid .row .secciones .casillacuatro .clasification, .navdos .container-fluid .row .todasfotos .casillacuatro .clasification {
        margin-top: 11px;
        color: white;
        text-align: center; }

.todasfotos .container-fluid .row .totalfotos .singles {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15px;
  width: 23%;
  height: auto; }
  .todasfotos .container-fluid .row .totalfotos .singles .img_pinterest {
    border-radius: 14px;
    width: 90%; }
  .todasfotos .container-fluid .row .totalfotos .singles .title {
    font-size: 17px;
    font-weight: 700;
    margin-top: 9px;
    margin-bottom: 5px; }
  .todasfotos .container-fluid .row .totalfotos .singles .user {
    color: gray;
    display: inline-block; }
  .todasfotos .container-fluid .row .totalfotos .singlesi.fa.fa-user-circle {
    color: lightpink; }
  .todasfotos .container-fluid .row .totalfotos .singles .hashtag {
    float: right;
    display: inline-block; }
.todasfotos .container-fluid .row .totalfotos .modal {
  max-height: 95%;
  width: 30%;
  top: 2% !important; }
  .todasfotos .container-fluid .row .totalfotos .modal .modal-content .nav-modal .nav-element {
    display: inline-block;
    margin-right: 160px;
    margin-bottom: 20px; }
    .todasfotos .container-fluid .row .totalfotos .modal .modal-content .nav-modal .nav-element .icon-modal {
      display: inherit;
      font-size: 20px;
      margin-right: 8px;
      color: darkgray; }
  .todasfotos .container-fluid .row .totalfotos .modal .modal-content .nav-modal .btn-guardar {
    background-color: #bd081c;
    color: #fff;
    padding: 7px;
    border-radius: 5px; }
  .todasfotos .container-fluid .row .totalfotos .modal .modal-content .titulo_modal {
    font-size: 18px;
    font-weight: 600;
    text-align: center; }
  .todasfotos .container-fluid .row .totalfotos .modal .modal-content .img_modal {
    width: 100%;
    border-radius: 14px; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background: #f0f0f0;
  color: #505050; }

/*# sourceMappingURL=main.css.map */
